.page-header
  = link_to classrooms_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t(:back)
  = link_to @classroom, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t(:show)
  %h1= t(:editing_classroom)

= render 'form'
