.page-header
  = link_to assignments_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t(:back)
  = link_to @assignment, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t(:show)
  %h1= t(:editing_assignment)

= render 'form'
