.page-header
  = link_to admins_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t(:back)
  = link_to edit_admin_path(@admin), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t(:edit)
  %h1= t(:show_admin)

%dl.dl-horizontal
  %dt= t(:username)
  %dd= @admin.username
  %dt= t(:created_on)
  %dd= l @admin.created_at, :format => :short
  %dt= t(:authorized)
  %dd
    - @authorizations.each do |auth|
      = auth.name

