.page-header
  = link_to students_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t(:back)
  = link_to @student, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t(:show)
  %h1= t(:editing_student)

= render 'form'
